services:
  core:
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - ANSWER_MODEL=gemma3:27b
      - EMBEDDING_MODEL=qwen3-embedding:8b
  ollama:
    image: docker.io/ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    devices:
      - nvidia.com/gpu=all
    # for amd we might need to link /dev/kfd, /dev/dri etc
volumes:
  ollama_models:
